@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Open+Sans:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --mainGreen: #045c08;
    --mainOrange: #f56e00;
    --fadeColor: #faa73a33;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    /* background-color: #149e2b7c; */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    font-family: inherit;
}

h1 {
    font-family: 'Mochiy Pop P One', serif;
}

.top-banner {
    min-height: 30px;
    background-color: var(--mainGreen);
    transform: translateX(-1em);
    width: calc(100% + 1em);
}

header {
    position: relative;
    min-height: 20vh;
    background-color: var(--fadeColor);
    padding: 0 0 1em 1em;
}

header h1 {
    font-size: 1.5rem;
    padding: .5em 0;
}

.search-bar {
    /* transform: translateY(50%); */
}

.search-bar input {
    padding: .5em 0 .5em 1em;
    border-radius: 3px;
    border: 1px solid var(--mainOrange);
}

.search-bar button {
    background-color: var(--mainGreen);
    border: none;
    padding: .4em;
    margin-left: .5em;
}

.main-nav {
    position: absolute;
    top: 45px;
    right: 10%;
    display: flex;
}

.main-nav ul {
    display: flex;
}

.main-nav a {
    display: block;
    padding: .6em .7em;
    font-size: 0.8rem;
    color: #000;
}

.main-nav .login {
    background-color: var(--mainGreen);
    border-radius: 3px;
    color: #fff;
}

.hero {
    min-height: 50vh;
    position: relative;
    padding: 4em;
    overflow: hidden;
    background-color: var(--fadeColor);
}

.hero-text p {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
    max-width: 25ch;
    font-weight: bolder;
}

.hero-text button {
    background-color: var(--mainOrange);
    color: #fff;
    padding: 1em 1.5em;
    margin: 1.3em 0em 0em 2em;
    border-radius: 0.3em;
    border: 1px transparent solid;
    transition: 300ms;
}

.hero-text button:hover {
    background-color: #fff;
    color: var(--mainGreen);
    border-color: var(--mainOrange);
}

main h1 {
    padding: 1em;
    text-align: center;
    font-size: 1rem;
}

.product-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2em 0;
}

.product-card {
    height: 250px;
    width: 200px;
    margin-bottom: 1em;
    border: 1px solid var(--mainOrange);
}

.product-background {
    background-image: url('./images/products/avocado.jpg');
    background-size: 100% 100%;
    height: 65%;
    width: 100%;
}

.product-info {
    text-align: center;
    line-height: 1.4;
    font-size: .8rem;
}

.product-card button {
    width: 80%;
    margin-left: 10%;
    padding: .5em 0;
    border: none;
    background-color: var(--mainGreen);
    color: #fff;
    border-radius: 3px;
}

.product-card button:hover {
    opacity: 0.9;
}

.how-it-works {
    padding: 1em 0;
    /* background-color: #149e2b7c; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.how-it-works article {
    min-height: 70px;
    width: 300px;
    background-color: var(--fadeColor);
    border-radius: 4px;
}

.terms {
    list-style-type: square;
}

.terms h2 {
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
}

.about-text p,
.terms p {
    margin: 0 auto;
    font-size: 1rem;
    max-width: 700px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-layout {
    min-height: 400px;
    border: 1px solid var(--mainGreen);
    border-radius: 6px;
    padding: 4em 6em;
    margin-top: 2em;
    flex-direction: column;
    line-height: 2;
    position: relative;
}

.form-layout input {
    padding: .5em 0 .5em 1em;
    width: 250px;
    border-radius: 3px;
    border: 1px solid var(--mainOrange);
}

.form-layout label {
    display: block;
    font-size: 0.9rem;
    color: var(--mainGreen);
    font-weight: bold;
    padding: .3em 0;
}

.form-layout button {
    display: block;
    margin-top: 1em;
    padding: .7em 2em;
    background-color: var(--mainGreen);
    color: #ffff;
    border: none;
    border-radius: 3px;
}

.form-layout button:hover {
    opacity: 0.9;
}

.form-text {
    position: absolute;
    bottom: 1em;
    left: 1em;
    right: 0;
}

.form-text p {
    text-align: center;
    font-size: .8rem;
}

.link-to {
    text-decoration: underline;
    color: var(--mainOrange);
}

.shop {
    padding: 2em 0;
}

.shop .search-bar input {
    width: 70vw;
    margin-left: 15vw;
}

.cart section {
    width: 320px;
    min-height: 400px;
    background-color: #fff;
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translateX( -50%);
    z-index: 50;
    border-radius: 3px;
}

.close-card {
    background: transparent;
    border: none;
    color: #ff0000;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: -.2em;
    right: 0.4em;
}

.cart::after {
    content: '';
    background-color: rgba(211, 221, 213, 0.466);
    backdrop-filter: blur(20px);
    width: 100vw;
    position: absolute;
    top: 0px;
    bottom: 0;
    z-index: 45;
}

.cart h2 {
    text-align: center;
    padding: 1em;
    font-size: 1rem;
}

.cart ul {
    width: 280px;
    padding: 2em 0;
    margin: auto;
}

.cart li {
    border-bottom: 1px solid#ccc;
    padding-bottom: .3em;
}

.detail {
    padding: 1em 0;
}

.detail p {
    font-size: .9rem;
}

.detail label {
    font-size: .9rem;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.buttons span {
    padding: .5em 0;
    font-size: 1rem;
}

.buttons button {
    padding: .5em 2em;
    border: none;
    border-radius: 3px;
    color: #fff;
}

.decrement {
    background-color: #333;
}

.increment {
    background-color: var(--mainGreen);
}

.remove {
    background-color: red;
}

footer {
    min-height: 30vh;
    background-color: #045c08;
    margin-top: 1em;
}